:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  font-size: 1rem;
  color: #444;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* Header Section */

.main-header__container {
  display: flex;
  justify-content: space-between;
}

.brand {
  padding: 10px 0;
  font-weight: 900;
}

.main-nav {
  display: flex;
}

.main-nav__hamburger {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.main-nav__hamburger-element {
  display: inline-block;
  width: 12px;
  border-bottom: 2px solid #acb7c3;
}

.main-nav__list {
  /* display: flex; */
  display: none;
}

/* Hero Section */

.hero {
  height: 90vh;
  background-image: url("../asset/images/header-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Work Section */

.work {
  background-color: #e5e5e5;
}

.work__container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 110px;
}

.work__card {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}

.work__card-text-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.work__card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.work__card-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600px;
  font-size: 13px;
  line-height: 16px;
}

.work__card-project-titlet--callout {
  text-transform: uppercase;
}

.marker {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.work__card-technology-list {
  display: flex;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  color: #6070ff;
}

.work__card-technology-item {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

/* Container */
.about__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about__skills {
  width: 87.5%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.about__item {
  position: relative;
  padding: 16px 0;
  border-bottom: 1px solid #dfe1e6;
}

.about__item-icon {
  position: absolute;
  right: 5px;
}

.about__languages-card {
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 9px 12px;
  margin: 12px 0;
}

.about__languages-images {
  display: block;
  width: 48px;
  margin-right: 12px;
}

/* Utility Class */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.headline-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.social-links {
  display: inline-block;
  padding-right: 20px;
}

.contact {
  background-color: #6070ff;
  color: white;
  border-radius: 75px 0 0 0;
}

.contact__email, .contact__name, .contact__text {
  width: 100%;
  margin-top: 20px;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.cta-primary {
  font-weight: 500;
  text-transform: uppercase;
  color: #7f8cff;
}

.btn-primary {
  font-weight: 500;
  font-size: 17px;
  line-height: 24%;
  letter-spacing: 0.03rem;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 20px 12px;
  width: fit-content;
  background-color: white;
}

.btn-primary:hover {
  color: #fff;
  background-color: #396df2;
  box-shadow: 0 5px 5px rgba(57, 109, 242, 0.2);
}

.contact__cta {
  margin-top: 20px;
}

.description-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/* Items to hide until javascript */
.hidden {
  visibility: hidden;
}

.no-border {
  border: none;
}

.active {
  padding-top: 20px;
}

/* Breakpoint syles */

/* @media (min-width: 480px) {
} */

@media (min-width: 680px) {
  .hero {
    height: 90vh;
    background: url("../asset/images/header-bg.jpg") center / cover no-repeat;
  }
}

/* @media (min-width: 1024px) {
} */
